//colors
$off-black: #20222b;
$off-white: #F7F4F4;
$blue: #6BC2E5;
$red: #F85757;
$yellow:#F6CB5C;
$pink:#DF9494;
$purple:#79A2C8;
$light-blue: #464b5e;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$xm-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
